<p>
  <mat-toolbar color="primary">
    <div class="buttons-container">
      <button class="buttons-container__item" mat-icon-button color="white" aria-label="Example icon button with a home icon">
        <mat-icon routerLink="/">home</mat-icon>
      </button>
      <span class="buttons-container__item">Test task for Magenta</span>
    </div>
    <div class="buttons-container">
      <a class="buttons-container__item" mat-raised-button routerLink="/students">Students table</a>
      <a class="buttons-container__item" mat-raised-button routerLink="/house-residents">House residents table</a>
    </div>

  </mat-toolbar>
</p>

<div class="container">

  <router-outlet></router-outlet>

</div>
