<section class="main">
  <div class="wrapper">
    <div class="card">
      <div class="card__header">
        <h1 class="card__header-text">
          Hello!
        </h1>
      </div>
      <div class="card__body">
        <div class="card__block">
          <p class="card__block-item">
            This is my test task for Magenta-technology Co, it consists of two tables containing some data about "Students" and "House residents". Project powered by Angular(12.0.5). It also my
            first project with Angular framework, so maybe it won`t be perfect. But i think it fully compiles with the requirements.
          </p>
          <p class="card__block-item">
            Navigation buttons locate at the right and left sides of toolbar.
            I also will be gratefull for review this project.
          </p>
          <p class="card__block-item">
            I also will be gratefull for review this project.
          </p>
          <p class="card__block-item">
            Thx for a visit and i hope u enjoy! :)
          </p>
        </div>
        <div class="card__block">
          <h2 class="card__block-item">
            Contacts
          </h2>
          <div class="card__contact">
            <p>
              Phone:
            </p>
            <a class="card__block-link" href="tel:+79277500582">+7(927)750-05-82</a>
          </div>
          <div class="card__contact">
            <p>
              Email:
            </p>
            <a class="card__block-link" href="mailto:spoil349@mail.ru">spoil349@mail.ru</a>
          </div>
        </div>
        <div class="card__block">
          <p>
            Thank you for a visit i hope you enjoy! :)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
